[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DelayedEffect.Design"]
	path = DelayedEffect.Design
	url = https://github.com/cran/DelayedEffect.Design
[submodule "JPSurv"]
	path = JPSurv
	url = https://github.com/cran/JPSurv
[submodule "NegativeControlOutcomeAdjustment"]
	path = NegativeControlOutcomeAdjustment
	url = https://github.com/cran/NegativeControlOutcomeAdjustment
[submodule "PRIMEplus"]
	path = PRIMEplus
	url = https://github.com/cran/PRIMEplus
[submodule "samplesizelogisticcasecontrol"]
	path = samplesizelogisticcasecontrol
	url = https://github.com/cran/samplesizelogisticcasecontrol
