[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CaseCohortCoxSurvival"]
	path = CaseCohortCoxSurvival
	url = https://github.com/cran/CaseCohortCoxSurvival
[submodule "DelayedEffect.Design"]
	path = DelayedEffect.Design
	url = https://github.com/cran/DelayedEffect.Design
[submodule "iCARE"]
	path = iCARE
	url = https://github.com/wheelerb/icare
[submodule "INPower"]
	path = INPower
	url = https://git.bioconductor.org/packages/INPower
[submodule "NegativeControlOutcomeAdjustment"]
	path = NegativeControlOutcomeAdjustment
	url = https://github.com/cran/NegativeControlOutcomeAdjustment
[submodule "REBET"]
	path = REBET
	url = https://git.bioconductor.org/packages/REBET
[submodule "samplesizelogisticcasecontrol"]
	path = samplesizelogisticcasecontrol
	url = https://github.com/cran/samplesizelogisticcasecontrol
[submodule "SUITOR"]
	path = SUITOR
	url = https://github.com/wheelerb/suitor
